.home-header-container {
    height: 80px;
    width: 100%;
    padding: 0 80px;
    top: 0;
    background-color: #f7f9fa;
    z-index: 100;

    .home-header-content-top {
        width: 100%;
        height: 100%;
        display: flex;

        .left-content {
            width: 30%;
            display: flex;
            align-items: center;

            .header-logo {

                background-size: 50%;
                height: 100%;
                width: 100%;
                cursor: pointer;
                transform: scale(0.5, 0.5);
                margin-left: -45px;
            }
        }

        .center-content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .child-content {
                display: flex;


                .login-customer {
                    font-weight: 700;
                    font-size: 12px;
                    margin-left: 10px;
                }

                .search {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    padding: 3px;
                    width: 400px;
                    border-radius: 30px;
                    background: #fff;
                    border: 1px solid #ced0da;

                    i {
                        margin: 0 10px;

                    }

                    input {
                        background: transparent;
                        border: none;
                        width: 100%;
                        outline: none;
                        text-indent: 10px;


                    }

                    ::-webkit-input-placeholder {
                        /* Edge */
                        color: #9a9393;
                    }
                }
            }
        }

        .right-content {
            width: 15%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .child-content {
                display: flex;
                margin-right: 15px;

                .login-customer {
                    font-weight: 450;
                    font-size: 12px;
                    margin-left: 10px;
                }


            }


            .language-vi {
                cursor: pointer;
                opacity: 0.2;
                font-size: 12px;

                &.active {
                    opacity: 1;

                    span {
                        color: orange;
                    }

                }

                &:hover {
                    opacity: 1;
                }

            }

            .dash-language {
                color: #a0a3a7;
                padding: 0px 4px;
                font-size: 12px;
            }

            .language-en {
                // margin: 0 10px;
                opacity: 0.2;
                cursor: pointer;
                font-size: 12px;

                &.active {
                    opacity: 1;
                    color: blue;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

}

.home-header-content-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 120px;
    background-color: #000;


    ul {
        li {
            padding: 0 75px;

            .nav-link {
                color: #fff !important;
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 500px;
            }

        }
    }

}

.home-header-banner {
    //background-image: url('../../assets/header-background.jpg');

    background-size: cover;
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;

    .content-up {
        height: 65%;
        padding-top: 15px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        .title1 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 5px;
            color: white;
            margin-top: 30px;
        }

        .title2 {
            text-align: center;
            font-size: 30px;
            text-shadow: 1px 1px 1px #333;
            color: white;
            margin-bottom: 15px;

        }


    }

    .content-down {
        height: 35%;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));

        .options {

            text-align: center;
            display: flex;
            gap: 50px;


            .option-child {
                width: 100px;

                .icon-child {
                    background: white;
                    box-shadow: 0px 1px 2px #000;
                    width: 40px;
                    height: 40px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;
                }

                i {
                    color: #49bce2;
                    font-size: 20px;
                }

                .text-child {
                    font-size: 17px;
                    font-weight: 500;
                }

                &:hover {
                    color: #49bce2;
                    cursor: pointer;
                }
            }

        }
    }

}