.con-about {
    max-width: 1400px;
    padding: 20px 150px;

    .row-about {
        margin-top: 40px;

        .col-about-left {
            padding-right: 40px;

            .list {
                margin-top: -10px;
                margin-left: -55px;
                padding-bottom: 0;

                ol {
                    display: flex;
                    list-style-type: none;

                    li {
                        .link-about {
                            color: black;
                            font-size: 12pt;
                            font-weight: 300;
                        }
                    }
                }
            }

            h5 {
                text-transform: uppercase;
                margin-bottom: 30px;
            }

            .content-about {
                p {
                    font-size: 13px;
                    text-align: justify;

                    .link-lich-chieu {
                        color: coral;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}