.profile-main {

    // .title-list {
    //     width: 75%;

    //     display: flex;

    //     margin: 0 auto;
    //     padding-top: 50px;
    //     text-transform: uppercase;
    // }

    .tabbable-panel {
        padding: 10px;
        width: 72%;

        display: flex;

        margin: 0 auto;
        padding-top: 50px;
        text-transform: uppercase;
    }

    /* Default mode */

    .tabbable-line> {
        width: 100%;

        .nav-tabs {
            border: none;
            margin: 0px;
            width: 100%;
            border-bottom: 1px solid #DDD;

            >li {
                margin-right: 2px;

                >a {
                    border: 0;
                    margin-right: 0;
                    color: #737373;

                    >i {
                        color: #a6a6a6;
                    }
                }

                &.open,
                &:hover {
                    border-bottom: 1px solid #fbcdcf;
                }

                &.open>a,
                &:hover>a {
                    border: 0;
                    background: none !important;
                    color: #333333;
                }

                &.open>a>i,
                &:hover>a>i {
                    color: #a6a6a6;
                }

                &.open .dropdown-menu,
                &:hover .dropdown-menu {
                    margin-top: 0px;
                }

                &.active {
                    border-bottom: 1px solid orange;
                    position: relative;

                    >a {
                        border: 0;
                        color: #333333;

                        >i {
                            color: #404040;
                        }
                    }
                }
            }

            .profile-user,
            .my-transfer {
                padding-left: 0;
                font-size: 13px;
                color: #a0a3a7;
            }
        }

        .tab-content {
            margin-top: -3px;
            background-color: #fff;
            border: 0;
            border-top: 1px solid #eee;
            padding: 15px 0;
        }
    }

    .portlet .tabbable-line>.tab-content {
        padding-bottom: 0;
    }

    /* Below tabs mode */

    .tabbable-line.tabs-below>.nav-tabs>li {
        border-top: 4px solid transparent;

        >a {
            margin-top: 0;
        }

        &:hover {
            border-bottom: 0;
            border-top: 4px solid #fbcdcf;
        }

        &.active {
            margin-bottom: -2px;
            border-bottom: 0;
            border-top: 4px solid #f3565d;
        }
    }

    .con-info-u {
        max-width: 1400px;

        .avatar-user-container {
            width: 100%;
            margin-top: 50px;


            .grap-avatar {
                width: 35%;
                margin: 0 auto;
                display: flex;
                align-items: center;

                .avatar-main {
                    position: relative;

                    .avatar-user {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        margin: 0 auto;
                        border: 1px solid rgb(245, 245, 245);
                    }
                }

                .btn-update-avatar {
                    position: absolute;
                    margin-top: 70px;
                    margin-left: 90px;
                    background: #f94a00;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    color: #fff;
                }



                .name-user {
                    .text {
                        text-align: left;

                        margin-left: 20px;

                        .fullname {
                            font-size: 15px;
                            font-weight: 600;
                            display: table-cell;
                            vertical-align: middle;
                        }

                        .address-user {
                            color: rgb(194, 194, 194);
                            font-size: 13px;
                            line-height: 0px;
                        }
                    }
                }
            }



        }

        .input-form-container {

            padding-top: 30px;


            .form-main {
                margin: 0 auto;

                width: 35%;


                .input-flex {
                    display: flex;
                    gap: 15px;
                    justify-content: left;
                    margin-top: 30px;

                    input {
                        height: 38px;
                    }

                    // .gender-select {
                    //     width: 220px;
                    // }
                }
            }
        }

        .submit-container {
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 50px;

            .btn-update-profile {
                background-color: orange;
                border: none;
                margin: 0 auto;
                padding: 10px 40px;
                border-radius: 10px;
            }
        }


        .table-payment-container {
            width: 75%;
            margin: 0 auto;

            .table-member {
                font-size: 12px;
                width: 100%;
                margin-top: 30px;
                margin-bottom: 0;

                thead {
                    background-color: #47251c;
                    color: #ffffff;
                }
            }
        }

        .form-filter {
            width: 75%;
            margin: 0 auto;
            display: flex;
            gap: 30px;

            label {
                font-size: 12px;
                display: block;
                color: #43464b;
            }

            input {
                height: 30px;
            }
        }

    }

    .col-right {
        width: 75%;
        margin: 0 auto;
        padding-top: 50px;

        .title {
            a {
                position: relative;
                color: #000000;
                font-weight: bold;
                font-size: 14px;
                font-weight: 500;
                text-transform: uppercase;

                &:hover {
                    color: #fcaf17;
                }
            }

            &:after {
                content: "";
                position: absolute;
                display: block;
                left: 24px;
                width: 5%;
                height: 2px;
                margin-top: 0px;
                background: #fcaf17;
            }
        }

        .col-image {
            align-items: center;
            cursor: pointer;
            display: flex;
            gap: 20px;


            .item-movie {



                .image {
                    position: relative;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    display: flex;



                    .image__img {
                        display: block;
                        width: 100%;
                        height: 250px;

                    }

                    .image__overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgba(0, 0, 0, 0.6);
                        color: #ffffff;
                        font-family: 'Quicksand', sans-serif;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: opacity 0.25s;

                        --blur {
                            backdrop-filter: blur(5px);
                        }

                        >* {
                            transform: translateY(20px);
                            transition: transform 0.25s;
                        }

                    }

                    .image__overlay--primary {
                        backdrop-filter: blur(2px);
                    }
                }

                .text-detail {
                    margin-top: 10px;
                    font-size: 13px;

                    .vn {
                        color: #2e2e2e;
                        text-transform: capitalize;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        margin-bottom: 0;
                    }

                    .eng {

                        text-transform: uppercase;
                        color: #a0a3a7;

                    }

                }

                .image__overlay:hover {
                    opacity: 1;

                    >* {
                        transform: translateY(0);
                    }
                }


                .link-read-more {
                    text-align: center;
                    margin-top: 30px;

                    a {
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #fcaf17;
                        font-weight: bold;
                    }
                }
            }


        }



        // .col-image {
        //     padding-top: 20px;

        //     .image-pdc {
        //         flex-direction: column;

        //         img {
        //             width: 100%;
        //         }

        //         .vn {
        //             margin-top: 10px;
        //             font-size: 13px;
        //             color: #43464b;
        //             text-transform: capitalize;
        //             text-overflow: ellipsis;
        //             overflow: hidden;
        //             white-space: nowrap;
        //             margin-bottom: 0;
        //         }

        //         .eng {
        //             font-size: 13px;
        //             text-transform: uppercase;
        //             color: #a0a3a7;

        //         }
        //     }

        //     .link-read-more {
        //         text-align: center;

        //         a {
        //             text-decoration: none;
        //             text-transform: uppercase;
        //             color: #fcaf17;
        //             font-weight: bold;
        //         }
        //     }
        // }


    }
}