body {
    font-family: Arial;

    .loginPage-container {
        width: 100%;
        // height: 900px;
        display: flex;
        padding: 20px 150px;

        .login-cus {
            width: 100%;
            padding: 20px;

            .form-login {
                width: 100%;
                height: 100%;
                padding: 20px;

                .title-login {
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                .form-group {
                    label {
                        color: #000;
                        font-weight: 700;
                        margin-bottom: 10px;

                    }

                    input {
                        height: fit-content;

                    }

                    .errorInput {
                        color: red;
                        font-size: 12px;
                    }
                }

                .link-forgot-pass {
                    color: #a0a3a7;
                    font-size: 15px;
                    font-weight: 700;
                }

                .submit-container {
                    padding-top: 20px;
                    display: flex;
                    height: 70px;

                    .button-login-submit {
                        width: 100%;


                        .btn-login {
                            background-color: #FCAF17;
                            padding: 10px;
                            width: 100%;
                            height: 40px;
                            font-weight: 700;
                            color: #fff;
                            text-transform: uppercase;
                            border: none;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .register-cus {
            width: 100%;
            padding: 20px;

            .form-register {
                width: 100%;
                height: 100%;
                padding: 20px 60px;

                .title-register {
                    margin-bottom: 30px;
                    text-transform: uppercase;
                }

                .error-container {
                    margin-top: 10px;
                    border: 1px dashed lightgray;
                    padding: 1rem;
                    width: 100%;
                }

                ul {
                    list-style-position: inside;
                    color: lightcoral;
                }

                .form-group {
                    display: flex;
                    padding: 0;

                    label {
                        color: #000;
                        font-weight: 700;
                        margin-bottom: 10px;
                        padding: 0;
                        font-size: 14px;
                    }

                    input {
                        height: fit-content;
                    }

                    input[type="radio"] {
                        -ms-transform: scale(1.5);
                        /* IE 9 */
                        -webkit-transform: scale(1.5);
                        /* Chrome, Safari, Opera */
                        transform: scale(1.3);
                    }

                    .select-gender {
                        padding: 0;
                    }

                    .select-birthday {
                        padding: 0;
                    }

                    .strikethrough {
                        .line {
                            height: 1px;
                            display: block;
                            margin-top: 10px;
                            background-color: #000;
                        }
                    }

                    .error-pass {
                        color: red;
                        font-size: 12px;
                        padding-top: 10px;
                    }
                }

                .link-forgot-pass {
                    color: #a0a3a7;
                    font-size: 15px;
                    font-weight: 700;
                }

                .submit-container {
                    padding-top: 20px;
                    display: flex;
                    height: 70px;

                    .button-register-submit {
                        width: 100%;
                        padding: 0;

                        .btn-register {
                            background-color: #FCAF17;
                            padding: 10px;
                            width: 100%;
                            height: 40px;
                            font-weight: 700;
                            color: #fff;
                            text-transform: uppercase;
                            font-size: 15px;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .khuyen-mai-container {
        width: 100%;
        height: 650px;
        background-color: #000;

        .advertising-title {
            width: 100%;
            height: auto;

            h3 {
                padding-top: 20px;
                color: #fff;
                text-align: center;
                font-size: 25px;
                font-weight: 700;
            }
        }

        .advertising-body {
            padding-top: 10px;
            display: flex;

            .slick-slider {
                padding-top: 30px;
                width: 90%;
                margin: 0 auto;

                .slick-list {
                    text-align: center;

                    .slick-track {
                        img {
                            margin: 0 auto;
                            width: 300px;
                        }
                    }
                }
            }

            .slick-dots {
                bottom: -45px;

                li button {
                    margin-top: 10px;

                    &::before {
                        color: #fff;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}