.review-con {
    max-width: 1400px;

    .row-review {
        padding-top: 30px;

        .col-left {
            .list-films {
                .blog {
                    display: flex;

                    .movie-thumb {
                        .img-review {
                            width     : 100%;
                            display   : block;
                            object-fit: contain;
                        }
                    }

                    .row-fc {
                        margin-top : 20px;
                        margin-left: 20px;

                        h5 {
                            font-size     : 18px;
                            text-transform: capitalize;
                            max-width     : 100%;

                            .link {
                                color: #43464b;

                                &:hover {
                                    color: #FCAF17;
                                }
                            }
                        }

                        .list-fc {
                            list-style-type: none;
                            display        : flex;

                            .fb-like {
                                span {
                                    margin-right: 40px;
                                    margin-top  : 5px;

                                    iframe {
                                        width: 160px !important;

                                    }
                                }
                            }

                            li {
                                margin     : 0px 20px 0px 30px;
                                line-height: 40px;
                            }

                            .rating-movie.rating-home {
                                background-size: 20px;
                                height         : 25px;
                                padding-left   : 24px;
                                margin-left    : 10px;
                            }

                            .rating-movie {
                                font-size          : 11px;
                                height             : 40px;
                                background         : url(../../assets/ic_star_yellow.png) no-repeat;
                                background-size    : 21px;
                                padding-left       : 30px;
                                background-position: left center;
                                display            : table-cell;
                                vertical-align     : middle;
                            }
                        }
                    }
                }
            }
        }
    }

}