.review-con {
    max-width: 1400px;

    .row-review {
        padding-top: 30px;

        .col-left {
            .list-films {
                .blog {
                    margin-bottom: 30px;
                    display      : flex;

                    .movie-thumb {
                        .img-review {
                            width     : 350px;
                            display   : block;
                            object-fit: contain;
                        }
                    }

                    .content-title {
                        margin-left   : 20px;
                        flex-direction: column;

                        h5 {
                            .link {
                                color: #000000;


                                &:hover {
                                    color: #fcaf17;
                                }
                            }
                        }


                        .summary {
                            width: 100%;
                        }

                        .row-fc {
                            margin-top: 20px;

                            .list-fc {
                                list-style-type: none;
                                display        : flex;

                                .fb-like {
                                    span {
                                        //margin-right: 40px;
                                        margin-top: 5px;

                                        iframe {
                                            width: 160px !important;

                                        }
                                    }
                                }

                                li {
                                    margin     : 0px 20px 0px 10px;
                                    line-height: 40px;
                                }

                                .rating-movie.rating-home {
                                    background-size: 20px;
                                    height         : 30px;
                                    padding-left   : 24px;
                                    margin-left    : 10px;
                                }

                                .rating-movie {
                                    font-size          : 20px;
                                    height             : 40px;
                                    background         : url(../../assets/ic_star_yellow.png) no-repeat;
                                    background-size    : 30px;
                                    padding-left       : 30px;
                                    background-position: left center;
                                    display            : table-cell;
                                    vertical-align     : middle;
                                }
                            }
                        }
                    }


                }
            }
        }
    }

}